<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'>
        <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script>
            function on(){
                // $.ajax({
                //     type:"POST",
                //     url:"http://0.0.0.0:5000/api/lightOn",
                //     success: (data) => {
                //         console.log(data)
                //     } 
                // })
                let xhr = new XMLHttpRequest();
                xhr.open("POST", 'api/lightOn', true)
                xhr.send()
            }
            function off(){
                let xhr = new XMLHttpRequest();
                xhr.open("POST", 'api/lightOff', true)
                xhr.send()
            }
        </script>
        <title>Alarm</title>
    </head>
    <body>
        <div class="container">
            <div class="parent">
                <button class="btn btn-primary" class="on" onclick="return on();">On</button>
                <button class="btn btn-primary" class="off" onclick="return off();">Off</button>
            </div>
        </div>
    </body>
    </html>